.App {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #ffcb08;
  text-decoration: none;
}

.active {
  color: #ffcb08;
  text-shadow: 1px 1px 1px black;
}

.links {
  column-gap: 2rem;
}

.links a {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2rem;
}

h1 {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  font-size: 2rem;
  margin: 0 auto;
  border-right: 0.15em solid #18bdec;
  animation: typing 2s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
  margin-bottom: 30px;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
